body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.common {
    position: absolute;
}
.header {
    top: 5px;
    left: 5px;
    right: 5px;
    height: 100px;
    z-index: 2;
}
.subheader {
    float: right;
}
.mainbody {
    top: 114px;
    left: 114px;
    right: 114px;
    height: fit-content;
}
.footer {
    bottom: 10.002px;
    left: .002px;
    right: .002px;
    height: fit-content;
    text-align: center;
    padding-top: 15px;
    position: fixed;
}
.copyright {
    bottom: .002px;
    left: .002px;
    right: .002px;
    padding-top: 5rem;
    padding-bottom: 5rem;
    height: fit-content;
    text-align: center;
    color: #fff;
    position: fixed;
}
